#Python
__pycache__/
.ipynb_checkpoints/
*.nbconvert.ipynb

#Data and plots
Datasets/Original_Datasets/
Plots/

#Specific files
Data_Wrangling/GC_distances.ipynb
Data_Wrangling/Data_Combination.ipynb








